
@model AlbumListViewModel

@{
	ViewData["Title"] = " | Album Catalog";

	RouteDictionary current = Model.CurrentRoute;
	RouteDictionary routes = Model.CurrentRoute.Clone();
}

<h1>Album Catalog</h1>

<form asp-controller="Albums" asp-action="Filter" method="post">

	<label>Artist: </label>
	<select name="filter" class="form-select m-2" asp-items="@(new SelectList(Model.Artists, "Id", "Name", current.ArtistFilter))">
		<option value="@AlbumGridDTO.DefaultFilter">All</option>
	</select>

	<label>Genre: </label>
	<select name="filter" class="form-select m-2" asp-items="@(new SelectList(Model.Genres, "Id", "Name", current.GenreFilter))">
		<option value="@AlbumGridDTO.DefaultFilter">All</option>
	</select>

	<label>Price: </label>
	<select name="filter" class="form-select m-2" asp-items="@(new SelectList(Model.Prices, "Key", "Value", current.PriceFilter))">
		<option value="@AlbumGridDTO.DefaultFilter">All</option>
	</select>

	<button type="submit" class="btn btn-primary me-2">Filter</button>
	<button type="submit" class="btn btn-primary" name="clear" value="true">Clear</button>

</form>

<form asp-controller="Cart" asp-action="Add" method="post">
	<table class="table table-bordered table-striped table-sm mt-3">
		<thead>
			<tr class="table-dark">

				<th>
					@{
						routes.SetSortAndDirection(nameof(Album.Title), current);
					}
					<a asp-controller="Album" asp-action="List" asp-all-route-data="@routes" class="text-white">Title</a>
				</th>

				<th>
					@{
						routes.SetSortAndDirection(nameof(Album.Year), current);
					}
					<a asp-controller="Album" asp-action="List" asp-all-route-data="@routes" class="text-white">Year</a>
				</th>

				<th>
					@{
						routes.SetSortAndDirection(nameof(Album.AlbumType), current);
					}
					<a asp-controller="Album" asp-action="List" asp-all-route-data="@routes" class="text-white">Type</a>
				</th>

				<th>
					@{
						routes.SetSortAndDirection(nameof(Album.Genre), current);
					}
					<a asp-controller="Album" asp-action="List" asp-all-route-data="@routes" class="text-white">Genre</a>
				</th>
				
				<th>
					@{
						routes.SetSortAndDirection(nameof(Album.Price), current);
					}
					<a asp-controller="Album" asp-action="List" asp-all-route-data="@routes" class="text-white">Price</a>
				</th>

			</tr>
		</thead>

	<tbody>
		@foreach(Album album in Model.Albums)
		{
			<tr>
				<td>
					<a asp-controller="Album" asp-action="Details" asp-route-id="@album.Id" asp-route-slug="@album.Title.Slug()">@album.Title</a>
				</td>
				<td>
					@album.Year.ToString()
				</td>
				<td>
					@album.AlbumType.Name
				</td>
				<td>
					@album.Genre.Name
				</td>
				<td>
					@album.Price.ToString("C2")
				</td>
			</tr>
		}
	</tbody>
	</table>
</form>

@{
	routes = Model.CurrentRoute.Clone();
	for(int i = 1; i <= Model.TotalPages; i++)
	{
		routes.PageNumber = i;
	<a asp-controller="Albums" asp-action="List" asp-all-route-data="@routes" class="btn btn-primary @Nav.Active(i, current.PageNumber)">@i</a>
	}
}